<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title>首页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->



    <style>
body {
  margin: 0;
}

/* 头部样式 */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* 导航链接 */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* 链接 - 修改颜色 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#position{
	position:absolute;
	right:2%;
	top:2%;
}

.sell{

  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
</style>


</head>

<div class="header" >PICC

    <a href="javascript:void(0);" onClick="validateName();" ><span id="position" >修改</span></a>
</div>

<div class="topnav">
    <a th:href="${trainMenu.trainNameUrl}">培训</a>
    <a th:href="${trainMenu.activityNameUrl}">活动</a>
    <a th:href="${trainMenu.honorNameUrl}">荣誉</a>
</div>
<div class="sell" ><a th:href="${trainMenu.advisorySellNameUrl}" >顾问式行销</a></div>
<div id="one">
    <input id="inputOne" th:value="${trainMenu.resourceOneType}" style="display:none"></input>
    <input id="inputOneUrl" th:value="${trainMenu.resourceOneUrl}" style="display:none"></input>
    <!--<if condition="${trainMenu.resourceOneType} eq 1">
        <img th:src="${trainMenu.resourceOneUrl}"  alt="图片" />
        <else/>
        <video id="video1" controls="controls">
            <source th:src="${trainMenu.resourceOneUrl}" type="video/mp4">
        </video>
    </if>
-->
</div>
<div class="sell" ><a th:href="${trainMenu.newBarrcksNameUrl}" >新兵营</a></div>
<div id="two">
    <input id="inputTwo" th:value="${trainMenu.resourceTwoType}" style="display:none"></input>
    <input id="inputTwoUrl" th:value="${trainMenu.resourceTwoUrl}" style="display:none"></input>
   <!-- <if condition="${trainMenu.resourceTwoType} eq 1">
        <img th:src="${trainMenu.resourceTwoUrl}"  alt="图片" />
        <else/>
        <video id="video2" controls="controls">
            <source th:src="${trainMenu.resourceTwoUrl}" type="video/mp4">
        </video>
    </if>-->
</div>
<!--使用 'window.open()'-->
<script type="text/javascript" th:inline="javascript">

    var base = /*[[@{/}]]*/;
    base=base.substr(0,base.length-1);
</script>

<script type="text/javascript">
        var typeOneValue=document.getElementById("inputOne").value;
        var typeTwoValue=document.getElementById("inputTwo").value;
        var typeOneValueUrl=document.getElementById("inputOneUrl").value;
        var typeTwoValueUrl=document.getElementById("inputTwoUrl").value;
        var one=document.getElementById("one")
         var two=document.getElementById("two")
        //http://localhost:8082/user/index
        //http://localhost/user/index
        //http://47.102.205.110/resource/
        var currentPagepath=location.href;
        var pathName = window.document.location.pathname;// /user/index
        var pos = currentPagepath.indexOf(pathName);
        var localhostPath = currentPagepath.substring(0,pos);//http://192.168.0.102:8080
        //E:\path\image\u=3565682627,2876030475&fm=26&gp=0.jpg
        var strings_one = typeOneValueUrl.split("/");
        var fileName_one= strings_one[strings_one.length-1];
        var suffixType_one = fileName_one.substring(fileName_one.length-3,fileName_one.length).toLocaleUpperCase();//后缀类型
        var strings_two = typeTwoValueUrl.split("/");
        var fileName_two= strings_two[strings_two.length-1];
        var suffixType_two= fileName_two.substring(fileName_two.length-3,fileName_two.length).toLocaleUpperCase();//后缀类型
        var resource_one_path=localhostPath+"/resource/"+strings_one[strings_one.length-1];
        var resource_two_path=localhostPath+"/resource/"+strings_two[strings_two.length-1];
        //console.log("resource_one_path"+resource_one_path);
        var videos =new Array();
        videos[0]="AVI";
        videos[1]="RMVB";
        videos[2]="RM";
        videos[3]="ASF";
        videos[4]="WMV";
        videos[5]="MP4";
        videos[6]="OGG";
        videos[7]="MKV";
        videos[8]="MPEG";
        if(typeOneValue == 1){
            if(videos.indexOf(suffixType_one) > -1){//包含  视频展示
                one.innerHTML=" <video  style='width:100%;' controls='controls'><source id='oneVideo'  type='video/mp4'></video>"
                document.getElementById('oneVideo').setAttribute("src",resource_one_path);
            }else{//不包含是图片展示
                one.innerHTML=" <img  id='oneImg'   style='width:100%;' alt='图片' />";
                document.getElementById('oneImg').setAttribute("src",resource_one_path);
            }
		}else{
            if(videos.indexOf(suffixType_one) > -1){//包含  视频展示
                one.innerHTML=" <video  style='width:100%;' controls='controls'><source id='oneVideo'  type='video/mp4'></video>"
                document.getElementById('oneVideo').setAttribute("src",resource_one_path);
            }else{//不包含是图片展示
                one.innerHTML=" <img  id='oneImg'   style='width:100%;' alt='图片' />";
                document.getElementById('oneImg').setAttribute("src",resource_one_path);
            }
		}
		 if(typeTwoValue == 1){
             if(videos.indexOf(suffixType_two) > -1){//包含  视频展示
                 two.innerHTML=" <video  style='width:100%;'  controls='controls'><source id='twoVideo' type='video/mp4'></video>"
                 document.getElementById('twoVideo').setAttribute("src",resource_two_path);
             }else{//不包含是图片展示
                 two.innerHTML=" <img  id='twoImg'   style='width:100%;' alt='图片' />";
                 document.getElementById('oneImg').setAttribute("src",resource_two_path);
             }

		}else{
             if(videos.indexOf(suffixType_two) > -1){//包含  视频展示
                 two.innerHTML=" <video  style='width:100%;'  controls='controls'><source id='twoVideo' type='video/mp4'></video>"
                 document.getElementById('twoVideo').setAttribute("src",resource_two_path);
             }else{//不包含是图片展示
                 two.innerHTML=" <img  id='twoImg'   style='width:100%;' alt='图片' />";
                 document.getElementById('oneImg').setAttribute("src",resource_two_path);
             }
		}


         function validateName(){
             window.location.href = base+"/user/validateName";
        }

    </script>
</body>
</html>
